body {
    background: rgba(0, 0, 0, 0.5);
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/596/081/non_2x/financial-business-statistics-with-bar-graph-and-candlestick-chart-show-stock-market-price-on-dark-background-vector.jpg');
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    font-family: 'Gugi', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}
