body {
    
    background-image: url('https://wallpapers.com/images/high/trading-wallpaper-ynfqhj74ml8p96ca.webp');
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    font-family: 'Gugi', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}
