.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #060606;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
  }


  
  
  a {
    color: white;
    font-family: 'Dancing Script', cursive;
font-family: 'Gugi', sans-serif;
font-family: 'Roboto', sans-serif;
padding-right: 60px;
  }

  
  .Nav h1 {
    color:white;
    margin: 0;
    padding-left: 150px;
  }
  
  .Nav button {
    background-color: #01060b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
  }
  
  @media (max-width: 768px) {
    .Nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    h1 {
      margin-bottom: 10px;
    }
  
    button {
      width: 100%;
      margin-top: 10px;
    }
  }
  