.Stocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 5px;
    padding-top: 90px; /* Add some padding to prevent the border from overlapping the images */
  }
  