.stocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    margin: 5px;
  }
  
  .stock-container img {
    width: 80%;
    height: 300px;
    object-fit: contain;
    margin: 30px; 
    border: solid black;
    border-radius: 70%;
    background-color: white;
    
  }
  